APP_NAME=Perishable Goods Forecast API
APP_ENV=development
API_V1_PREFIX=/api/v1
FRONTEND_ORIGIN=http://localhost:5173

SUPABASE_URL=<SUPABASE_URL>
SUPABASE_ANON_KEY=<SUPABASE_ANON_KEY>
SUPABASE_SERVICE_ROLE_KEY=<SUPABASE_SERVICE_ROLE_KEY>
SUPABASE_STORAGE_BUCKET=dataset-files

MODEL_ARTIFACT_DIR=../ml/models/perishable_vqr
ALLOW_MOCK_PREDICTIONS=true
MAX_CSV_SIZE_MB=100
CSV_INSERT_BATCH_SIZE=1000
